enhanced-ai-agent-os/workflows/qa-tools/compliance-checking.json
{
  "name": "QA Tools - Compliance Checking",
  "nodes": [
    {
      "parameters": {"path": "qa/tools/compliance-checking", "responseCode": 200, "options": {"responseHeaders": {"entries": [{"name": "Content-Type", "value": "application/json"}]}}},
      "id": "Webhook",
      "name": "Webhook Compliance Checking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "functionCode": "// Basic compliance checks stub against provided standards\nconst artifacts=Array.isArray($json.artifacts)?$json.artifacts:[];\nconst standards=Array.isArray($json.standards)?$json.standards:[];\nconst issues=[];\nfor(const a of artifacts){\n  const id=a.id||'unknown';\n  if((a.type||'').toLowerCase()==='email'){\n    // CAN-SPAM style checks (stub)\n    if(!a.metadata || !a.metadata.unsubscribe){ issues.push({artifact:id, standard:'CAN-SPAM', rule:'unsubscribe_link', severity:'high', message:'Missing unsubscribe link'}); }\n  }\n  if((a.type||'').toLowerCase()==='code'){\n    // OWASP style checks (stub)\n    if(a.content && a.content.includes('eval(')){ issues.push({artifact:id, standard:'OWASP', rule:'no_eval', severity:'medium', message:'Use of eval detected'}); }\n  }\n}\n// Standards summary\nconst status = issues.length ? 'non_compliant' : 'compliant';\nconst summary = standards.map(s=>({standard:s, status, issue_count: issues.filter(i=>i.standard===s).length}));\nreturn [{ json: { compliance: { status, issues, summary } } }];"
      },
      "id": "Check",
      "name": "Run Compliance Checks",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 200]
    },
    {
      "parameters": {"functionCode": "return [{ json: { status: 'ok', compliance: $json.compliance } }];"},
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [720, 200]
    }
  ],
  "connections": {
    "Webhook Compliance Checking": {"main": [[{"node": "Run Compliance Checks", "type": "main", "index": 0}]]},
    "Run Compliance Checks": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": ["qa", "tools"],
  "versionId": "qa-tools-compliance-checking-v1"
}
