workflows/enhanced/qa-tools/automated-testing.json
{
  "name": "QA Tools - Automated Testing",
  "nodes": [
    {
      "parameters": {"path": "qa/tools/automated-testing", "responseCode": 200, "options": {"responseHeaders": {"entries": [{"name": "Content-Type", "value": "application/json"}]}}},
      "id": "Webhook",
      "name": "Webhook Automated Testing",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "functionCode": "// Simple automated testing stub across artifact types\nconst artifacts=Array.isArray($json.artifacts)?$json.artifacts:[];\nconst quality=$json.quality||{thresholds:{passRate:0.9}};\nlet total=0, passed=0, failed=0; const failures=[]; const tests=[];\nfor(const a of artifacts){\n  // Create pseudo tests by type\n  const type=a.type||'generic';\n  const id=a.id||Math.random().toString(36).slice(2);\n  const suite=[`${type}-lint`,`$ {type}-schema`.replace(' ',''),`${type}-function`];\n  for(const t of suite){ total++; const ok=Math.random()>0.1; // 90% pass stub\n    if(ok){ passed++; tests.push({artifact:id, test:t, status:'pass'}); } else { failed++; const msg=`${t} failed`; failures.push({artifact:id, test:t, message:msg, severity:'medium'}); tests.push({artifact:id, test:t, status:'fail'}); }\n  }\n}\nconst passRate = total? passed/total : 1;\nconst metrics = { pass_rate: passRate, total, passed, failed, p50_latency_ms: 120, p90_latency_ms: 300, p95_latency_ms: 600 };\nreturn [{ json: { tests: { results: tests, failures }, metrics } }];"
      },
      "id": "RunTests",
      "name": "Run Automated Tests",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 200]
    },
    {
      "parameters": {"functionCode": "return [{ json: { status: 'ok', tests: $json.tests, metrics: $json.metrics } }];"},
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [720, 200]
    }
  ],
  "connections": {
    "Webhook Automated Testing": {"main": [[{"node": "Run Automated Tests", "type": "main", "index": 0}]]},
    "Run Automated Tests": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": ["qa", "tools"],
  "versionId": "qa-tools-automated-testing-v1"
}
