enhanced-ai-agent-os/workflows/communication-tools/email-delivery.json
{
  "name": "Communication Tools - Email Delivery",
  "nodes": [
    {
      "parameters": {"path": "communication/tools/email-delivery", "responseCode": 200, "options": {"responseHeaders": {"entries": [{"name": "Content-Type", "value": "application/json"}]}}},
      "id": "Webhook",
      "name": "Webhook Email Delivery",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "functionCode": "// Build email payloads with simple templating and compliance flags\nconst msg=$json.message||''; const audience=$json.audience||{segments:['general']}; const schedule=$json.schedule||{when:'now'}; const compliance=$json.compliance||{consent:true,unsubscribe:true}; const metadata=$json.metadata||{};\nconst subject=metadata.subject||'Notification';\nconst template=metadata.template||'default';\nconst from=metadata.from||'no-reply@example.com';\nconst tracking={ opens:true, clicks:true, utm:true };\nconst composed={ subject, from, template, body: msg, audience, schedule, compliance, tracking };\nreturn [{ json: { email: { composed, provider: 'mock', status: 'planned' } } }];"
      },
      "id": "Compose",
      "name": "Compose Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 200]
    },
    {
      "parameters": {"functionCode": "return [{ json: { status: 'ok', email: $json.email } }];"},
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [720, 200]
    }
  ],
  "connections": {
    "Webhook Email Delivery": {"main": [[{"node": "Compose Email", "type": "main", "index": 0}]]},
    "Compose Email": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": ["communication", "tools"],
  "versionId": "communication-tools-email-v1"
}
