workflows/enhanced/ai-task-orchestrator.json
{
  "name": "AI Task Orchestrator",
  "nodes": [
    {
      "parameters": {
        "path": "orchestrate",
        "options": {
          "responseCode": 200,
          "responseData": "={{ {\"status\": \"accepted\", \"receivedAt\": $now } }}",
          "responseHeaders": {
            "entries": [
              {"name": "Content-Type", "value": "application/json"}
            ]
          }
        }
      },
      "id": "Webhook_Trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        380,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Normalize incoming task and route by type\nconst body = items[0].json;\nconst task = body.task || {};\nconst type = (task.type || 'generic').toLowerCase();\nreturn [{ json: { task, route: type, receivedAt: new Date().toISOString() } }];"
      },
      "id": "Prepare_Task",
      "name": "Prepare Task",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {"value1": "={{$json.route}}", "operation": "contains", "value2": "research"}
          ]
        }
      },
      "id": "If_Research",
      "name": "Is Research?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        860,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {"value1": "={{$json.route}}", "operation": "contains", "value2": "creative"}
          ]
        }
      },
      "id": "If_Creative",
      "name": "Is Creative?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        860,
        380
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook/agent/research",
        "options": {"ignoreResponse": true}
      },
      "id": "Route_Research",
      "name": "Route → Research Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1100,
        180
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook/agent/creative",
        "options": {"ignoreResponse": true}
      },
      "id": "Route_Creative",
      "name": "Route → Creative Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1100,
        340
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook/agent/generic",
        "options": {"ignoreResponse": true}
      },
      "id": "Route_Generic",
      "name": "Route → Generic Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1100,
        500
      ]
    }
  ],
  "connections": {
    "Prepare Task": {
      "main": [
        [
          {"node": "Is Research?", "type": "main", "index": 0},
          {"node": "Is Creative?", "type": "main", "index": 0}
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {"node": "Prepare Task", "type": "main", "index": 0}
        ]
      ]
    },
    "Is Research?": {
      "main": [
        [
          {"node": "Route → Research Agent", "type": "main", "index": 0}
        ],
        [
          {"node": "Route → Generic Agent", "type": "main", "index": 0}
        ]
      ]
    },
    "Is Creative?": {
      "main": [
        [
          {"node": "Route → Creative Agent", "type": "main", "index": 0}
        ],
        [
          {"node": "Route → Generic Agent", "type": "main", "index": 0}
        ]
      ]
    }
  },
  "pinData": {},
  "staticData": {},
  "settings": {"executionOrder": "v1"},
  "tags": ["starter", "orchestration"],
  "versionId": "starter-ai-task-orchestrator-v1"
}
