enhanced-ai-agent-os/workflows/research-tools/content-analysis.json
{
  "name": "Research Tool — Content Analysis",
  "nodes": [
    {"parameters": {"path": "research/tools/content-analysis", "responseCode": 200}, "id": "Webhook", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [200, 180]},
    {"parameters": {"functionCode": "const b=$json||{};const urls=b.urls||b.url||[];const limit=Number(b.limit||5);const list=Array.isArray(urls)?urls:[urls];if(list.length===0)throw new Error('urls required');return list.slice(0,limit).map(u=>({json:{url:String(u)}}));"}, "id": "Normalize", "name": "Normalize URLs", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [460, 180]},

    {"parameters": {"url": "={{$json.url}}", "options": {"ignoreResponseCode": true}}, "id": "Fetch", "name": "HTTP Fetch", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "position": [720, 100]},

    {"parameters": {"functionCode": "// naive text extract from HTML\nconst html=items[0].json?.data||items[0].json||'';const str=typeof html==='string'?html:(html.data||'');\nconst text=String(str).replace(/<script[\\s\\S]*?<\\\\/script>/gi,' ').replace(/<style[\\s\\S]*?<\\\\/style>/gi,' ').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();\nreturn [{json:{url:$json.url, text}}];"}, "id": "Extract", "name": "Extract Text", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [980, 100]},

    {"parameters": {"promptType": "chat", "provider": "openai", "model": "gpt-4", "systemMessage": "You are a content analysis assistant. Given text, produce: summary (concise), key_insights (bullet points), sentiment (positive|neutral|negative), entities (list), and quality_notes (notes about clarity, bias, timeliness). Return strict JSON with these fields.", "inputKey": "={{$json.text}}", "toolsAgent": false, "temperature": 0.3, "maxTokens": 600}, "id": "Analyze", "name": "AI Analyze", "type": "n8n-nodes-base.aiAgent", "typeVersion": 1, "position": [1240, 100]},

    {"parameters": {"functionCode": "return [{json:{url:$json.url, analysis: items[0].json}}];"}, "id": "Respond", "name": "Respond", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [1500, 100]}
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Normalize URLs", "type": "main", "index": 0}]]},
    "Normalize URLs": {"main": [[{"node": "HTTP Fetch", "type": "main", "index": 0}]]},
    "HTTP Fetch": {"main": [[{"node": "Extract Text", "type": "main", "index": 0}]]},
    "Extract Text": {"main": [[{"node": "AI Analyze", "type": "main", "index": 0}]]},
    "AI Analyze": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": ["research", "analysis"],
  "versionId": "research-content-analysis-v1"
}
