workflows/enhanced/communication-tools/social-media.json
{
  "name": "Communication Tools - Social Media",
  "nodes": [
    {
      "parameters": {"path": "communication/tools/social-media", "responseCode": 200, "options": {"responseHeaders": {"entries": [{"name": "Content-Type", "value": "application/json"}]}}},
      "id": "Webhook",
      "name": "Webhook Social Media",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "functionCode": "// Build platform-specific posts with truncation and hashtags\nconst msg=$json.message||''; const audience=$json.audience||{segments:['general']}; const schedule=$json.schedule||{when:'now'}; const metadata=$json.metadata||{};\nconst tags=(metadata.tags||[]).map(t=>t.startsWith('#')?t:'#'+t).join(' ');\nfunction trim(t, n){ return (t.length>n)? (t.slice(0, n-1)+'…') : t; }\nconst posts=[\n  { platform: 'x', text: trim(msg + (tags?' '+tags:''), 280) },\n  { platform: 'linkedin', text: trim(msg + (tags?'\n\n'+tags:''), 3000) },\n  { platform: 'facebook', text: trim(msg + (tags?'\n\n'+tags:''), 63206) }\n];\nconst tracking={ utm: true, link_shortening: true, engagements: ['likes','comments','shares','clicks'] };\nreturn [{ json: { social: { posts, audience, schedule, tracking, provider: 'mock', status: 'planned' } } }];"
      },
      "id": "Compose",
      "name": "Compose Social Posts",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 200]
    },
    {
      "parameters": {"functionCode": "return [{ json: { status: 'ok', social: $json.social } }];"},
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [720, 200]
    }
  ],
  "connections": {
    "Webhook Social Media": {"main": [[{"node": "Compose Social Posts", "type": "main", "index": 0}]]},
    "Compose Social Posts": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": ["communication", "tools"],
  "versionId": "communication-tools-social-v1"
}
