workflows/enhanced/execution-tools/parallel-processing.json
{
  "name": "Execution Tools - Parallel Processing",
  "nodes": [
    {
      "parameters": {"path": "execution/tools/parallel-processing", "responseCode": 200, "options": {"responseHeaders": {"entries": [{"name": "Content-Type", "value": "application/json"}]}}},
      "id": "Webhook",
      "name": "Webhook Parallel Processing",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "functionCode": "// Build parallel batches using topological levels and policy.parallelism\nconst tasks=Array.isArray($json.tasks)?$json.tasks:[];\nconst policy=$json.policy||{parallelism:4};\nconst byId=Object.fromEntries(tasks.map(t=>[t.id,{...t,deps:Array.isArray(t.deps)?t.deps:[]}]))\nconst indeg=Object.fromEntries(tasks.map(t=>[t.id,(byId[t.id].deps||[]).length]));\nconst adj={}; for(const t of tasks){ for(const d of (t.deps||[])){ if(!adj[d]) adj[d]=[]; adj[d].push(t.id);} }\nconst ready=tasks.filter(t=>indeg[t.id]===0).map(t=>t.id);\nconst batches=[];\nwhile(ready.length){ const batch=[]; const limit=Math.max(1, policy.parallelism||4); for(let i=0;i<limit && ready.length;i++){ batch.push(ready.shift()); } batches.push({ index: batches.length, tasks: batch }); for(const u of batch){ for(const v of (adj[u]||[])){ indeg[v]--; if(indeg[v]===0) ready.push(v); } } }\n// Any remaining nodes indicate a cycle\nconst remaining=Object.values(indeg).some(x=>x>0); if(remaining) throw new Error('Cycle detected in task dependencies');\nreturn [{ json: { plan: { batches, parallelism: Math.max(1, policy.parallelism||4) } } }];"
      },
      "id": "Plan",
      "name": "Build Parallel Plan",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 200]
    },
    {
      "parameters": {"functionCode": "return [{ json: { status: 'ok', plan: $json.plan } }];"},
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [720, 200]
    }
  ],
  "connections": {
    "Webhook Parallel Processing": {"main": [[{"node": "Build Parallel Plan", "type": "main", "index": 0}]]},
    "Build Parallel Plan": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": ["execution", "tools"],
  "versionId": "execution-tools-parallel-v1"
}
